# Ignorar archivos de compilación en la carpeta sistemaCine
/*.o
/*.obj
/*.so
/*.a
/*.exe
/*.out
/*.dll

# Ignorar archivos generados por el compilador en la carpeta 
/*.dSYM/
/*.d
/*.dep

# Ignorar archivos de logs en la carpeta 
/*.log

# Ignorar archivos de depuración en la carpeta 
/*.stackdump
/*.debug
/*.gch

# Ignorar archivos de sistema en la carpeta 
/.DS_Store
/Thumbs.db

# Ignorar directorios de compilación en la carpeta 
/build/
/bin/
/debug/
/release/

# Ignorar archivos temporales en la carpeta 
/*.tmp
/*.temp
/*.swp

# Ignorar archivos específicos de IDEs en la carpeta 
# Visual Studio Code
/.vscode/
/*.sln
/*.vcxproj*
/*.user

# Code::Blocks
/*.layout
/*.cbp

# Xcode
/*.xcworkspace
/*.xcuserstate

# Red Panda IDE
/*.redpanda/
/*.rpconfig
/*.rpbkp

# Archivos privados o de respaldo en la carpeta 
/*_private*
