# Archivos de compilación
*.o
*.obj
*.so
*.a
*.exe
*.out
*.dll

# Archivos generados por el compilador
*.dSYM/
*.d
*.dep

# Archivos de logs
*.log

# Archivos de depuración
*.stackdump
*.debug
*.gch

# Archivos de sistema
.DS_Store
Thumbs.db

# Directorios de compilación
/build/
/bin/
/debug/
/release/

# Archivos temporales
*.tmp
*.temp
*.swp

# Archivos específicos de IDEs
# Visual Studio
.vscode/
*.sln
*.vcxproj*
*.user

# Code::Blocks
*.layout
*.cbp

# Xcode
*.xcworkspace
*.xcuserstate

# Red Panda IDE
*.redpanda/
*.rpconfig
*.rpbkp

# Archivos privados
*_private*
